<h1 >Stupid Coaching</h1>
<div class="border-start border-5 ms-5 p-3 mb-5" >
  <%= @question %> <br>
  <p> -you </p>
</div>
<div class="border-start border-5 ms-5 p-3 mb-5 bg-warning ">
  <%= @answer %> <br>
  <p> -coach </p>
</div>

<div class="ms-5 p-3 mb-5">
<%= link_to "Ask me another question", ask_path %>
</div>
